<phpunit colors="true"
		 syntaxCheck="true"
         processIsolation="true"
		 verbose="true">
	<filter>
		<whitelist addUncoveredFilesFromWhitelist="false">
			<directory>src/</directory>
		</whitelist>
	</filter>
	<testsuite name="PuzzleBall Test Suite">
		<directory>tests</directory>
	</testsuite>
</phpunit>
